Package: com.lizynz.vkshortcuts
Name: vkShortcuts
Depends: mobilesubstrate, firmware (>= 10.0)
Conflicts: gsc.ipad
Version: 5.0~beta
Architecture: iphoneos-arm
Description: 3D touch shortcuts menu for VK
Maintainer: Lizynz <lizynz@ya.ru>
Author: Lizynz <lizynz@ya.ru>
Section: Tweaks
